.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    width: 570px;
    height: 570px;
}

.text-box {
    background-color: clear;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

nav {
    background-color: #bcc1b3;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 10px;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    font-weight: bold;
    color: #2a2a2a;
    transition: color 0.3s ease;
}

h1 {
    text-align: center;
}

.center-container {
    text-align: center;
  }

  .center-container img {
    margin: auto;
  }
form {
    max-width: 400px;
    margin: left;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

body {
    font-family: 'Arial', sans-serif; /* Choose a font */
    font-size: 16px;
    color: #333;
    background: linear-gradient(to bottom, #97bdfb, #c0bdbd);
}

h1, h2, h3 {
    font-family: 'Georgia', serif; 
}

/* Style for the footer */
footer {
    background-color: #bcc1b3;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    position: sticky;
}
