.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.text-box {
    background-color: #ddd;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}
img {
    width: 400px;
    height: 400px;
}

body {
    background-color:;
}

nav {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 10px;
    display: inline;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    font-weight: bold;
}

h1 {
    text-align: center;
    animation: spinY 4s linear infinite;
    transform-style: preserve-3d;
}

@keyframes spinY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg); 
    }
  }
