.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.text-box {
    background-color: #ddd;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}