.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.text-box {
    background-color: #ddd;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}
img {
    max-width: fit-content;
}

nav {
    background-color: #ddd;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #999;
}